.CardItem {
  border: 1px solid red;
  border-radius: 1rem;
  padding: 2rem;
  align-items: center;
  width: 20%;
  height: auto;
}
.ItemImg {
  width: 50%;
  max-width: 90%;
  width: auto;
  height: auto;
  max-height: 50%;
}
